[Unit]
Description=Notify Zenbook Duo daemon after sleep
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/bin/timeout 1 /bin/bash -c '/opt/zenbook-duo-daemon/zenbook-duo-daemon send-command suspend_end'

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
