[Unit]
Description=Notify Zenbook Duo daemon before sleep
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/timeout 1 /bin/bash -c '/opt/zenbook-duo-daemon/zenbook-duo-daemon send-command suspend_start && sleep 0.5'

[Install]
WantedBy=sleep.target
